<!DOCTYPE html>
<html lang="pt-br" dir="ltr" ng-app="testeApp">
  <head>
    <meta charset="utf-8">
    <title>Teste com angularjs</title>
  </head>
  <body>
    <div ng-controller="myController as ctrl">
      <h1>{{ctrl.titlePage}}</h1>
      <div>
        <!--
        <input type="text" ng-model="ctrl.value"/>
        <input type="button" value="Adicionar Nome" ng-click="ctrl.addName()"/>
        -->
        <input type="file" id="files" multiple onchange="angular.element(this).scope().setArquivo(this)"><br/>
        <!--
        <input type="file" id="files" multiple><br/>
        <input type="button" value="Carregar Imagens" ng-click="ctrl.loagImages()"/>
        -->
      </div>
      <div>
        <div ng-repeat="image in ctrl.images">
          <span>{{image.name}}</span>
          <img src="{{image.src}}" alt="{{image.name}}" title="{{image.name}}" width="75">

          <input type="button" value="X" ng-click="ctrl.deleteImage($index)"> </br>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script type="text/javascript">
      const app = angular.module('testeApp', []);

      app.directive("fileread", [function () {
          return {
              scope: {
                  fileread: "="
              },
              link: function (scope, element, attributes) {
                  element.bind("change", function (changeEvent) {
                      scope.$apply(function () {
                          scope.fileread = changeEvent.target.files;
                          // or all selected files:
                          // scope.fileread = changeEvent.target.files;
                      });
                  });
              }
          }
      }]);

      app.service('fileService', [
        function(){
          this.getUrlFile = function(file){
            var reader = new FileReader();
            var src = "";
            reader.onload = function(){
              src = reader.result
              console.log(src);
            }
            reader.readAsDataURL(file)
            return src;
          }
          this.getFileName = function(file){
            return file.name;
          }
        }
      ]);

      (function(){
        app.controller('myController', ['$scope', 'fileService',MyController]);

        function MyController($scope, fileService){
          const vm = this;
          vm.titlePage = "Teste com angularjs"
          vm.arquivos = new Array
          vm.images = new Array
          $scope.setArquivo = function(element) {
            $scope.$apply(function($scope) {
              let files = element.files
              for (var i = 0; i < files.length; i++) {
                let name =  fileService.getFileName(files[i])
                let src = fileService.getUrlFile(files[i])
                vm.images.push({"name": name, 'src': src})
                //const reader = new FileReader();
                //console.log('SRC: ', src);
                //reader.onload = function(){
                  //src = reader.result;
                //}
                //reader.readAsDataURL(files[i]);
              }

              //document.getElementById('files').value = ""
              //http://www.macoratti.net/16/04/ang_tut11.htm
              //https://www.npmjs.com/package/ng-image-input-with-preview
            });
          };

          vm.loagImages = function(){
            console.log("Load Image");
            let files = document.getElementById('files').files;
            for (var i = 0; i < files.length; i++) {
              vm.images.push({"name": files[i].name})
            }

            document.getElementById('files').value = ""
          }
          vm.deleteImage = function(index){
            vm.images.splice(index, 1)
          }
        }
      })()

    </script>
  </body>
</html>
