a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.wrapper {
    margin: 0;
    padding: 0;
    width: 100%
}

header {
    min-height: 80px
}

footer {
    min-height: 100px;
    color: #fff
}

* {
    box-sizing: border-box
}

header {
    background-size: 100%;
    background: url('../BCdoiYS0lvNK/adventure-2679498_1920.webp') no-repeat bottom center;
    min-height: 16rem;
    padding: 1rem;
    border-bottom: 20px solid #f17e20
}
header.app {
    background-size: 100%;
    background: url('../BCdoiYS0lvNK/adventure-2679498_1920.webp') no-repeat center;
    min-height: 5rem;
    padding: 1rem;
    border-bottom: 5px solid #f17e20;
    height: 12rem
}

.nowebp header {
    background-image: url(../BCdoiYS0lvNK/adventure-2679498_1920.jpg)
}

header .site-name {
    background-image: url(../BCdoiYS0lvNK/logotipo_otimizado.svg);
    background-size: contain;
    display: block;
    width: 140px;
    height: 57px;
    margin: 1rem auto 2rem;
    padding: 0
}
header .site-name-min {
    background-image: url('../BCdoiYS0lvNK/logotipo_otimizado.svg');
    background-size: contain;
    width: 140px;
    height: 57px;
    padding: 0
}
header .site-subtitle {
    font-size: 1.2rem;
    color: #5c2d91;
    background-color: #ffffffe8;
    padding: 1rem
}
header .site-subtitle-min {
    font-size: 1.2rem;
    color: #5c2d91;
    background-color: #ffffffe8;
}

header .site-subtitle:after,
header .site-subtitle:before,
header .site-subtitle-min:after,
header .site-subtitle-min:before{
    content: '  '
}

.dashed:after,
.dashed:before {
    content: '';
    width: 70%;
    display: block;
    margin: 1rem auto;
    border-top: 1px solid #f5f5f5
}

header .site-name span {
    display: none
}
header .site-name-min span {
    display: none
}

.content {
    margin: 0 auto
}

.content .intro h2 {
    font-family: Lato, sans-serif;
    color: #fff;
    background-color: #f17e20c7;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 140%;
    margin: 0
}

.content .preview {
    padding: 2rem .5rem;
    border-bottom: 20px solid #5b2c8f
}

.content .preview .smartphone {
    content: '';
    display: block;
    background: url(../BCdoiYS0lvNK/preview.webp);
    background-size: contain;
    width: 250px;
    height: 117px;
    margin: 1rem auto
}

.nowebp .content .preview .smartphone {
    background-image: url(../BCdoiYS0lvNK/preview.png)
}

.content .preview:after {
    content: '';
    display: block;
    clear: both
}

.content .links {
    display: block;
    margin: 0 auto 1rem;
    width: 200px
}

.content .links:after {
    content: '';
    display: block;
    clear: both
}

.content .links .store-link {
    display: inline-block;
    width: 100px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left
}

.content .links .store-link span {
    display: none
}

.content .links .store-link.store-apple {
    display: inline-block;
    overflow: hidden;
    background: url(../BCdoiYS0lvNK/appstore-lrg.svg) no-repeat;
    width: 135px;
    height: 40px;
    background-size: contain
}

.content .links .store-link.store-android {
    background-image: url(../BCdoiYS0lvNK/google-play.webp)
}

.nowebp .content .links .store-link.store-apple {
    background-image: url(../BCdoiYS0lvNK/app-store.png)
}

.nowebp .content .links .store-link.store-android {
    background-image: url(../BCdoiYS0lvNK/google-play.png)
}

.content .highlight {
    background: #ccc url(../BCdoiYS0lvNK/highlight.webp) center center no-repeat;
    background-size: cover;
    min-height: 100px;
    padding: 2rem .5rem;
    color: #fff;
    text-align: center
}

.nowebp .content .highlight {
    background-image: url(../BCdoiYS0lvNK/highlight.jpg)
}

.content .differences {
    padding: 2rem .5rem;
    text-align: center
}

.content .differences h4 {
    font-size: 1.7rem
}

.content .examples {
    padding: 2rem .5rem;
    background: url(../BCdoiYS0lvNK/bg-2.webp) top center no-repeat;
    background-size: cover;
    min-height: 23rem
}

.nowebp .content .examples {
    background-image: url(../BCdoiYS0lvNK/bg-2.jpg)
}

.content .examples:after {
    content: '';
    display: block;
    clear: both
}

.content .examples img {
    display: block;
    margin: .5rem auto;
    max-width: 50%;
    float: left
}

.content .faq {
    padding: 2rem 2rem;
    text-align: center
}

.content .faq h3 {
    padding: 1rem;
    margin-top: 2rem
}

.content .faq p {
    margin: 0 auto
}

.content .faq p:after {
    content: '';
    display: block;
    width: 40%;
    margin: 2rem auto 1rem;
    border-top: 1px solid #e5e5e5
}

.content .faq p:before {
    content: '';
    display: block;
    width: 40%;
    margin: 1rem auto 2rem;
    border-top: 1px solid #e5e5e5
}

footer {
    padding: 2rem .5rem;
    margin: 0;
    background-color: #5c2d91
}

footer a {
    color: #fff;
    text-decoration: none
}

footer h5 {
    font-size: 1rem
}

footer .rights {
    font-size: .8rem
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem
}

table td,
table th {
    padding: .5rem;
    border: 1px solid #e5e5e5;
    text-align: center
}

table th {
    background-color: #e5e5e5
}

.terms {
    padding: 1rem
}

.terms h2 {
    font-size: 120%;
    margin-bottom: 1rem
}

.terms p {
    margin-bottom: 1rem
}

@media (min-width:1023px),
(orientation:landscape) {
    :root {
        font-size: 16px
    }
    body h1 {
        font-size: 2.5rem;
        line-height: 2.6rem;
        margin-bottom: 2rem
    }
    body h2 {
        font-size: 2.2rem;
        line-height: 2.4rem;
        margin-bottom: 1.8rem
    }
    body h3 {
        font-size: 2.1rem;
        line-height: 2.2rem;
        margin-bottom: 1.6rem
    }
    body h4 {
        font-size: 2rem;
        line-height: 2.1rem;
        margin-bottom: 1.5rem
    }
    body h5 {
        font-size: 1.8rem;
        line-height: 2rem;
        margin-bottom: 1.4rem
    }
    body h6 {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 1.2rem
    }
    body p {
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin-bottom: 1.2rem
    }
    .grid-row {
        display: block
    }
    .grid-row:after {
        content: '';
        display: block;
        clear: both
    }
    .grid-cell-1 {
        display: inline-block;
        width: 8.333333%;
        float: left;
        padding: 1rem
    }
    .grid-cell-2 {
        display: inline-block;
        width: 16.666666%;
        float: left;
        padding: 1rem
    }
    .grid-cell-3 {
        display: inline-block;
        width: 25%;
        float: left;
        padding: 1rem
    }
    .grid-cell-4 {
        display: inline-block;
        width: 33.333333%;
        float: left;
        padding: 1rem
    }
    .grid-cell-5 {
        display: inline-block;
        width: 41.666666%;
        float: left;
        padding: 1rem
    }
    .grid-cell-6 {
        display: inline-block;
        width: 50%;
        float: left;
        padding: 1rem
    }
    .grid-cell-7 {
        display: inline-block;
        width: 58.333333%;
        float: left;
        padding: 1rem
    }
    .grid-cell-8 {
        display: inline-block;
        width: 66.666666%;
        float: left;
        padding: 1rem
    }
    .grid-cell-9 {
        display: inline-block;
        width: 75%;
        float: left;
        padding: 1rem
    }
    .grid-cell-10 {
        display: inline-block;
        width: 83.333333%;
        float: left;
        padding: 1rem
    }
    .grid-cell-11 {
        display: inline-block;
        width: 91.666666%;
        float: left;
        padding: 1rem
    }
    .grid-cell-12 {
        display: inline-block;
        width: 100%;
        float: left;
        padding: 1rem
    }
    .container {
        max-width: 800px;
        margin: 0 auto
    }
    .container:after {
        content: '';
        display: block;
        clear: both
    }
    header {
        height: 38rem;
        background-position: top center
    }
    header .container {
        margin-top: 10rem;
        max-width: 1024px;
        padding: 2rem;
        background: #ffffffe8
    }
    header .container-min {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        height: 7rem;
        background: #ffffffe8
    }
    header .site-name {
        width: 230px;
        height: 94px;
        margin: 1rem;
        display: inline-block;
        float: left
    }
    header .site-name-min {
        display: inline-block;
        float: left;
        margin-right: 3rem
    }
    header .site-subtitle {
        float: right;
        display: inline-block;
        width: calc(100% - 290px);
        background: 0 0;
        color: #5b2c8f;
        text-align: left;
        font-size: 2rem;
        margin-top: 1rem;
        border-left: 5px solid #f17e20;
        padding-left: 2rem
    }
    header .site-subtitle-min {
        float: left;
        display: inline-block;
        background: 0 0;
        color: #5b2c8f;
        text-align: left;
        font-size: 2rem;
        border-left: 5px solid #f17e20;
        padding-left: 1rem
    }
    header .app-user{
        width: 70px;
        height: 70px;
        background: white;
        float: right;
    }
    header .user-img{
        width: 60px;
        margin: 5px;
    }
    .content .intro {
        min-height: 520px;
        padding-top: 0;
        background-position: top center
    }
    .content .intro h2 {
        display: none
    }
    .content .links {
        width: 360px
    }
    .content .links .store-link {
        width: 150px;
        height: 60px;
        margin: 0 1rem
    }
    .content .preview {
        padding: 4rem .5rem
    }
    .content .preview .smartphone {
        width: 500px;
        height: 231px;
        margin: 2rem auto
    }
    .content .preview p {
        clear: both;
        max-width: 400px;
        margin: 0 auto;
        text-align: center
    }
    .content .highlight {
        padding: 19rem .5rem
    }
    .content .differences {
        background: url(../BCdoiYS0lvNK/bg-1.gif) top center no-repeat
    }
    .content .examples {
        min-height: 50rem
    }
    .content .differences,
    .content .examples,
    .content .faq {
        padding: 5rem .5rem
    }
    .content .faq h3 {
        margin-top: 5rem
    }
}

@media (min-width:1800px) {
    header {
        height: 58rem
    }
    header .container {
        margin-top: 20rem
    }
}

@font-face {
    font-family: Lato;
    src: url(../BCdoiYS0lvNK/Lato-Light.ttf);
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: Lato;
    src: url(../BCdoiYS0lvNK/Lato-Regular.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Lato;
    src: url(../BCdoiYS0lvNK/Lato-Black.ttf);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Lato;
    src: url(../BCdoiYS0lvNK/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal
}

:root {
    font-size: 14px
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: .9rem;
    line-height: 120%;
    -webkit-font-smoothing: antialiased
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: lighter;
    margin-bottom: 1rem;
    font-family: Lato, sans-serif;
    text-align: center
}

h1 {
    font-size: 1.3rem;
    line-height: 1.5rem
}

h2 {
    font-size: 1.25rem;
    line-height: 1.45rem
}

h3 {
    font-size: 1.2rem;
    line-height: 1.4rem
}

h4 {
    font-size: 1.15rem;
    line-height: 1.35rem
}

h5 {
    font-size: 1.1rem;
    line-height: 1.3rem
}

h6 {
    font-size: 1rem;
    line-height: 1.25rem
}

strong {
    font-weight: bolder
}
