<footer class="footer-app">
    <div class="row centered">
        <h2>Entre em contato conosco</h2>
        <h5><a href="mailto:atendimento@easyfoto4u.com">atendimento@easyfoto4u.com</a></h5>
        <p><a href="#"><i class="ion-social-twitter"></i></a><a href="#"><i class="ion-social-instagram"></i></a><a href="#"><i class="ion-social-facebook"></i></a><a href="#"><i class="ion-social-pinterest"></i></a></p>
        <h6 class="rights">EASYFOTO4U - CNPJ:29.234.300/0001-17</h6>
    </div>
</footer>