<header class="app">
    <div class="container-min">
        <a href="localhost:3000/">
            <h1 class="site-name-min">
                <span>EasyFoto4U</span>
            </h1>
        </a>
        <h2 class="site-subtitle-min">
            Suas fotos como você nunca viu.<br>
            Agora você pode enviar suas fotos do seu computador.
        </h2>
        <div class="app-user">
            <a href="#">
                <img class="user-img" src="../assets/BCdoiYS0lvNK/user1.svg">
            </a>
        </div>
    </div>
</header>