.canvas-to-crop {
    border: 0px solid #000000;
    box-shadow: 3px 3px 6px 2px #999999;
}
footer.footer-app {
    padding: 10px 0;
}
footer.footer-app h2, footer.footer-app h5{
    margin-bottom: 0.2rem;
}
footer.footer-app h6, footer.footer-app p{
    margin-bottom: 0;
}
.web-app .content .differences{
    padding: 10px 0;
}
.container-thumbs {
    max-height: 384px;
    min-height: 384px;
    overflow-y: auto;
}
.container-thumbs .thumbs{
  height: 150px;
  width: 150px;
  float: left;
  margin: 4px
}
.container-thumbs .thumbs img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  top: -22px;
  position: relative;
}
.container-thumbs .thumbs .thumb-delete{
  display: block;
  width: 15px;
  position: relative;
  margin-top: 2px;
  margin-left: 130px;
  z-index: 10;
}
.container-thumbs .thumbs .thumb-play{
  z-index: 10;
  display: block;
  margin: 2px auto;
  position: relative;
  top: -100px;
}
.container-thumbs .thumbs .thumb-delete a, .container-thumbs .thumbs .thumb-play a{
  text-decoration: none;
  font-size: 2em;
  color: #666;
  text-shadow: 1px 0px white;
}
.btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-add-image{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: pointer;
}
.imagePreview {
    height: 100px;width: 100px;
    float: left;
    /*background: #cccccc;*/
    margin: 3px;
    box-shadow: 3px 3px;
}
#modal{
    display: none;
}